# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/
build/

# Maven
target/

# Gradle
.gradle/
build/

# Local history for IntelliJ
.idea/workspace.xml
.idea/tasks.xml

# macOS specific files
.DS_Store

# Java specific files
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz

# Log files
*.log

# System files
Thumbs.db